<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="myapp">
    <div ng-controller="myctrl">
        <h3>lowercase</h3>
        <ul>
            <li ng-repeat="student in studentlist">
                {{student}}
            </li>
        </ul>
        <h3>uppercase</h3>
        <ul>
            <li ng-repeat="student in studentlist">
                {{student|uppercase}}
            </li>
        </ul>
        <script>
            var app = angular.module("myapp", []);
            app.controller("myctrl", function ($scope) {
                $scope.studentlist = ['name:shashi,usn:2bu21,dept:cse']
            });
        </script>
    </div>

</body>

</html>